mixin structure()
	.structure
		h3 Структура проекта
		div
			p.
				/
				├── content/
				│   ├── images/
				│   │   ├── icons/
				│   │   └── sprite/
				│   ├── resources/
				│   ├── scripts/
				│   │   └── app.js
				│   ├── styles/
				│   │    ├── base/
				│   │    │   ├── base.styl
				│   │    │   ├── fonts.styl
				│   │    │   └── optimize.styl  
				│   │    ├── helpers/
				│   │    │   ├── mixins.styl
				│   │    │   ├── sprite.styl
				│   │    │   ├── svg.styl
				│   │    │   └── variables.styl 
				│   │    └── app.styl
				│   └── views/
				│        └── page/
				│          ├── layout
				│          ├── index.jade
				│          ├── page.js
				│          └── page.styl
				├── server/
				│   ├── bin
				│   ├── config
				│   ├── error
				│   ├── libs
				│   ├── middleware
				│   ├── modelsDB
				│   ├── public
				│   └── routes
				├── gulp/
				│   ├── tasks/
				│   ├── utils/
				│   └── paths.coffee
				├── .gitignore
				├── gulpfile.coffee 
				├── package.json
				└── README.md
			p.
				# Корневая папка
				# Клиентская часть 
				# Графика
				# SVG иконки для генерации векторного спрайта
				# PNG иконки для генерации растрового спрайта
				# Статические файлы
				# Скрипты
				# Главный скрипт
				# Стили
				# Базовые стили
				# Базовый стилевой файл
				# Подключение шрифтов
				# Сброс стилей и фиксы
				# Помощники
				# Примеси
				# Переменные с данными PNG спрайта (автогенерация)
				# Переменные с данными SVG иконок (автогенерация)
				# Переменные
				# Главный стилевой файл
				# Страницы
				# Страница
				# Стандартная разметка
				# Разметка страницы
				# Скрипт страницы
				# Стили страницы
				# Серверная часть
				# Запуск
				# Конфигурации проекта
				# Обработка кстомных ошибок
				# Дополнительные функции
				# Дополнительные middleware
				# Модели для базы данных
				# Статичные файлы
				# Обработчики GET POST запросов
				# Подключаемые скрипты для gulpfile.coffee
				# Скрипты с задачами для Gulp.js
				# Утилиты в помощь к задачам
				# Список путей для генерации файлов
				# Список исключённых файлов из Git
				# Файл для запуска Gulp.js
				# Список модулей и прочей информации
				# Документация