- var pageScripts = pageScripts || [[], [], []];

include wrapper/wrapper
include header/header
include main/main
include footer/footer
include scripts/scripts

+script([], ["client.js"])

doctype html
html(lang="ru")
	include head/head
	body
		+wrapper()
			+header()
			+main()
			+footer()
		+scripts()
